html, body, #root {
  height: 100%;
}

body {
  background-color: lightblue;
}

.odh-apps__display-error {
  white-space: pre-wrap;
}

.odh-dashboard {
  // PF Overrides
  .pf-c-page__header {
    .pf-c-brand {
      height: 36px;
    }
    .pf-c-dropdown__toggle {
      .pf-c-dropdown__toggle-icon {
        margin-left: var(--pf-global--spacer--xs);
      }
      &:before {
        visibility: hidden;
      }
    }
  }
  // Bootstrap Overrides (Bootstrap pulled in by @cloudmosaic/quickstarts)
  code {
    color: initial;
    background-color: initial;
  }
}

// PF Overrides
@media (min-width: 768px) {
  .pf-c-page {
    grid-template-columns: max-content 1fr;
    grid-template-areas: "header header" "nav main";
  }
}

