.odh-installed-apps {
  &__heading {
    &__text {
      margin-bottom: 1rem;
    }
  }

  &__error {
    &__error-body {
      text-align: left;
      white-space: pre;
    }
  }

  &__gallery {
    .odh-card {
      .pf-c-card__header {
        padding-right: 0;
      }

      .pf-c-card__title {
        display: flex;
        align-items: center;
      }
    }
  }
}
